@model IEnumerable<Лабораторная_11.Models.Сотрудник>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Результат 1-го запроса</h2>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            Шифр
        </th>
        <th>
            ФИО
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Пол
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Шифр
            </td>
            <td>
                @item.ФИО
            </td>
            <td>
                @item.Дата_рождения
            </td>
            <td>
                @item.Пол
            </td>
        </tr>
    }
</table>
